<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Wy</title>
  </head>

  <body>
    <section>
      <h1>Wy</h1>
      <article>
        <a target="_blank" href="static/images/">
          <img src="static/images/" alt="" />
        </a>
        <p><em> u</em></p>
      </article>
      <hr />
      <article>
        <a target="_blank" href="static/images/">
          <img src="static/images/" alt="" />
        </a>
        <p><em>Hu</em></p>
      </article>
      <hr />
      <article>
        <a href="static/images/">
          <img target="_blank" src="static/images/" alt="" />
        </a>
        <p><em>Te</em></p>
      </article>
      <hr />
      <!-- an example using figure/ficaption -->
      <figure>
        <a target="_blank" href="static/images/">
          <img src="static/images/" alt="" />
        </a>
        <figcaption><em>Wi</em></figcaption>
      </figure>
    </section>
  </body>
</html>
