<!-- Begin Standard Content -->
{% extends "base.html" %} {% block content %}
<!-- End Standard Content -->

<div class="main">
  <div class="jumbotron">
    <div class="container">
      <div class="row header-row r1">
        <div style="margin-top: 30px; text-align: center">
          <h1 class="display-1 text-center">Housing Estimator</h1>
          <p class="lead text-center">
            Fill out the form to get your home price
          </p>
        </div>
      </div>
    </div>

    <!-- Begin Standard Content -->
    {% endblock %}
    <!-- End Standard Content -->
  </div>
</div>
